body {
  font-family: "helvetica", sans-serif;
  margin: 16px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
a.button {
  display: inline-block;
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #eef;
}
.center {
  text-align: center;
}
.card {
  background-color: #eee;
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
.card_line {
  margin: 4px;
}
.container {
  margin: 16px;
}
h5.waitlist {
  margin: 12px;
}
.form_container {
  text-align: center;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #bbb;
}
.form_row {
  margin: 12px 0px;
  position: relative;
  left: -30px;
}
.form_row label {
  width: 50px;
  text-align: right;
  display: inline-block;
}
.form_row input {
  margin-left: 4px;
  height: 24px;
  width: 160px;
}
#player_type li {
  display: inline;
  margin: 10px;
}
#add_submit {
  height: 30px;
  width: 70px;
}
#remove_submit {
  height: 30px;
  width: 70px;
  margin-left: 20px;
}
#flashes {
  background-color: #faa;
  padding: 8px;
}
