body {
  font-family: "helvetica", sans-serif;
  margin: 16px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
a.button {
  appearance: button;
  padding: 16px;
  border-radius: 4px;
  background-color: #eef;
}
.center {
  text-align: center;
}
.card {
  background-color: #eee;
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
.card_line {
  margin: 4px;
}
.container {
  margin: 16px;
}
h5.waitlist {
  margin: 12px;
}
.form_container {
  text-align: center;
  margin-top: 32px;
  padding: 32px;
  border-top: 1px solid #bbb;
}
#player_type li {
  display: inline;
  margin: 12px;
}
#player_name {
  height: 24px;
  width: 160px;
}
#add_submit {
  height: 30px;
  width: 70px;
}
#remove_submit {
  height: 30px;
  width: 70px;
  margin-left: 20px;
}
#flashes {
  background-color: #faa;
  padding: 8px;
}
