body {
  font-family: "helvetica", sans-serif;
  margin: 20px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
ul li {
  display: inline;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
a.button {
  appearance: button;
  padding: 20px;
  border-radius: 5px;
  background-color: #eef;
}
.center {
  text-align: center;
}
.card {
  background-color: #eee;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.card_line {
  margin: 5px;
}
#player_name {
  height: 25px;
  width: 150px;
  margin-bottom: 15px;
}
#add_submit {
  height: 30px;
  width: 70px;
}
#remove_submit {
  height: 30px;
  width: 70px;
  margin-left: 15px;
}
#flashes {
  background-color: #faa;
  padding: 10px;
}
