{% extends "layout.html" %}
{% block body %}

<h3>Add Group</h3>
<form method="POST" action="/groups">
  Location:
  {{ form.location }}
  <br>
  Date:
  {{ form.date }}
  <br>
  Description:
  {{ form.description }}
  <br>
  Retreat before:
  {{ form.retreat_deadline }}
  <br>
  Start time:
  {{ form.start_time }}
  <br>
  End time:
  {{ form.end_time }}
  <br>
  Single players limit:
  {{ form.single_limit }}
  <br>
  Double players limit:
  {{ form.double_limit }}
  <br>
  PIN (for later editing):
  {{ form.pin }}
  <br>
  
  {{ form.create_submit }}
</form>

{% endblock %}
