{% extends "layout.html" %}
{% block body %}

<div class="card">
  <div class="card_line">
    <b>{{ group["date"] }}</b>
  </div>
  <div class="card_line">{{ group["location"] }}</div>
  <div class="card_line">{{ group["start_time"] }} - {{ group["end_time"]}}</div>
</div>

<div class="container">
  {% if group["double_limit"] > 0 or group["double_waitlist"] %}
  <h4>Double ({{ group["double_limit"] }})</h4>
  <ol>
    {% for player in group["double_players"] %}
    <li>{{ player["name"] }}</li>
    {% endfor %}
  </ol>

  {% if group["double_waitlist"] %}
  <h5 class="waitlist">Waitlist</h5>
  <ol>
    {% for player in group["double_waitlist"] %}
    <li>{{ player["name"] }}</li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endif %}

  {% if group["single_limit"] > 0 or group["single_waitlist"] %}
  <h4>Single ({{ group["single_limit"] }})</h4>
  <ol>
    {% for player in group["single_players"] %}
    <li>{{ player["name"] }}</li>
    {% endfor %}
  </ol>

  {% if group["single_waitlist"] %}
  <h5 class="waitlist">Waitlist</h5>
  <ol>
    {% for player in group["single_waitlist"] %}
    <li>{{ player["name"] }}</li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endif %}

  <div class="form_container">
    <form method="POST">
      <div class="form_row">
        {{ edit_form.player_name.label }}
        {{ edit_form.player_name }}
      </div>
      <div class="form_row">
        {{ edit_form.player_pin.label }}
        {{ edit_form.player_pin }}
      </div>
      {{ edit_form.player_type }}
      {{ edit_form.add_submit }}
      {{ edit_form.remove_submit }}
      <input type="hidden" name="group_id" value="{{group['id']}}" />
    </form>
  </div>
</div>

{% endblock %}
