{% extends "layout.html" %}
{% block body %}

<div class="center">
  {% for group in groups %}

  <a href="/groups/{{group['id']}}">
    <div class="card">
      <div class="card_line">
        <b>{{ group["date"] }}</b>
      </div>
      <div class="card_line">{{ group["location"] }}</div>
      <div class="card_line">{{ group["start_time"] }} - {{ group["end_time"]}}</div>
    </div>
  </a>

  {% endfor %}

  <a href="/groups/new" class="button" id="create_event">
    <div>
      <b>Create Event</b>
    </div>
  </a>
</div>

{% endblock %}
