<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Badminton Groups</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

    <H1> Current events</H1>

    {% for group in groups %}

    <h2>{{ group["date"] }}</h2>
    <div>{{ group["location"] }}</div>
    <div><a href='/{{ group["id"] }}''>{{ group["start_time"] }} - {{ group["end_time"]}}</a></div>

    {% endfor %}

    <H1><a href='/groups/new'>Create New Event</a></H1>


  </body>
</html>
